/* styles.css */

body {
    background-color: rgb(199, 199, 199);
}
h1 {
    font-family: monospace, sans-serif, Helvetica;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}

div {
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

ul { 
    color: #000000;
    font-size: 14px;
}

.foodRecipe {
    color: #740000;
    font-family: sans-serif, Helvetica, 'Times New Roman';
    font-size: 20px;
}