/* styles.css */

h1 {
    font-family: monospace, sans-serif, Helvetica;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 400px;
    text-align: center;
}

ul { 
    color: #000000;
    font-size: 14px;
}

.foodRecipe {
    color: #740000;
    font-size: 20px;
}